
#myNav {
    background-color: rgb(178, 178, 178);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;

}
#picture {
    background-color: black;
}

/* img */
img {
    display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

/* left column */
.leftcolumn {   
  float: left;
  width: 75%;
  justify-items: flex-start;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: gray;
  padding-left: 20px;
}

.card {
    background-color: rgb(178, 178, 178);
    padding: 30px;
    margin-top: 20px;
  
}